:root {
  --primary-color: #5fbaa7;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.fa-money-bill-alt {
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: center;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 12px;
  border: none;
  outline: none;
}

.currency {
  display: flex;
  align-items: center;
  padding: 40px 0px;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: white;
  background-color: #f1f1f1;
}

.currency input {
  border: 0;
  background: #e0e0e0;
  font-size: 30px;
  text-align: right;
  outline: none;
  width: 100%;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
